@model RobotModel


<div class="row">
    <figure>
        <img src=@Model.Avatar>
    </figure>
        <div class="contact">
          <h1>@Model.Name</h1>
          @if (@Model.Address["city"] == null)
          {
              <p>@Model.Address["country"]</p>
          } else 
          {
          <p>@Model.Address["city"], @Model.Address["country"]</p>
          }
        </div>
        <div>
          <p>@Model.University</p>
        </div>
        <div>
          <h3>Skills</h3>
          <ul>
              <li>@Model.Skills</li>
              </ul>
        </div>

       
          